body {
      background-image: url("../Images/Background Skyline.jpeg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      }

  h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: Navy;
    background-color: ghostwhite;
    width: 41%;
    margin: 50px;
    padding: 5px;
    position: relative;
    top: 30px; left: 100px;
    text-align: left;
    font-weight: bold;
    }

  h2 {
      color: DarkBlue;
      font-size: 35px;
      text-align: center;
      font-weight: bold;
      }

  h3 {
      color: MidnightBlue;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
      font-size: large;
      }

    .grid >div {
              font-family: Arial, sans-serif;
              font-size: 15px;
              font-style: oblique;
              font-weight: 500px;
              margin: 100px auto;
              padding: 30px;
              width: auto;
              height: auto;
              position: relative;
              top: 0; left: 40px;
              background-color: lavender;
              text-align: justify;
              }

      nav {
          width: auto;
          margin: auto;
          background-color: deepskyblue;
          float: right;
          position: relative;
          }

      nav ul {
              margin: 0;
              padding: 0;
              list-style: none;
              }

      nav li{
            display: inline-flex;
            list-style-type: none;
            margin: 0 2vw;
            font-size: 3vh;
            padding-top: 0px;
            }

      nav a {
            color:darkblue;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            }

      nav a:hover {
                  color: magenta;
                  }
